<!-- Section gray, customer system to seachbox-->
<footer>
<div class="text-center footer-up padding-item-25">
    <div class="container padding-without">
       <div class="col-md-3 padding-without padding-sides-sm15">
          <div class="col-md-12 last-child-15">
             <p class="margin-without"><a class="title-normal-13">CUSTOMERS SYSTEM</a></p>
          </div>
          <div class="col-md-12 footer-addresses">
             <i class="fa fa-user font-35"></i> 
             <p class="padding-left-15 text-justify">If you already are a customer, enter <a>here</a> to visualize the status of your project.</p>
          </div>
       </div>
       <div class="col-md-3 padding-sm20 padding-without">
          <div class="col-md-12 last-child-15">
             <p class="margin-without">
                <a class="title-normal-13">FREQUENTLY ASKED QUESTIONS 
                   <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                </a>
             </p>
          </div>
          <p><a class="ico-color">What is NIF D-3?</a></p>
          <p><a class="ico-color">What is an actuarial valuation?</a></p>
       </div>
       <div class="col-md-3 padding-sm20 padding-without">
          <div class="col-md-12 last-child-15"><a class="title-normal-13">CONCAT US 
             <i class="fa fa-envelope"></i></a>
          </div>
          <div class="col-md-12 text-center">
             <p class="p-break-word"> <a class="ico-color" href="mailto:{{ globals.email }}">{{ globals.email }}</a> </p>
             <p> <i class="fa fa-phone"></i> <a class="ico-color" href="tel:{{ globals.phone }}"><strong> {{ globals.phone }}</strong></a> </p>
          </div>
       </div>
       <div class="col-md-3 padding-sm20 padding-without">
          <div class="col-md-12 last-child-15 title-normal-13">
             <p class="margin-without">CAN WE HELP YOU IN YOUR SEARCH?</p>
          </div>
          <div class="col-md-12 padding-without">
             <div class="col-md-12">
                <form class="advsea-form">
                   <div class="input-group">
                      <input type="text" class="form-control form-ctrl-search" placeholder="Search..." name="search" value=""> <span class="input-group-btn"> <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button> </span> 
                   </div>
                </form>
             </div>
          </div>
       </div>
    </div>
 </div>
 <!-- Final section footer -->
 <div class="footer-down padding-top-50">
    <div class="container padding-without">
       <!-- First column, newsletter and social network -->
       <div class="col-md-4 padding-sm20">
          <!-- Social network -->
          <div class="col-md-12 padding-without">
             <div class="col-md-12 last-child-15 title-high-18-white padding-without center-sm text-center">
                <p class="margin-without">SOCIAL NETWORK</p>
             </div>
             <div class="col-md-12 padding-without">
                <hr class="hr-footer">
             </div>
             <div class="col-md-12 center-sm">
                <div class="col-md-12 text-center last-child-15 padding-without">
                   <div class="col-md-6 col-xs-6 padding-sm10 padding-left-without padding-right-3">
                      <a>
                         <div class="col-md-12 text-center ico-social ico-facebook">
                            <div class="col-md-12 padding-without">
                               <div class="col-md-3 padding-without"><i class="fa fa-facebook font-18" aria-hidden="true"></i></div>
                               <div class="col-md-9 padding-without font-12 line-height-18">FACEBOOK</div>
                            </div>
                         </div>
                      </a>
                   </div>
                   <div class="col-md-6 col-xs-6 padding-sm10 padding-left-without padding-right-3">
                      <a>
                         <div class="col-md-12 text-center ico-social ico-linkedin">
                            <div class="col-md-12 padding-without">
                               <div class="col-md-3 padding-without"><i class="fa fa-linkedin font-18" aria-hidden="true"></i></div>
                               <div class="col-md-9 padding-without font-12 line-height-18">LINKEDIN</div>
                            </div>
                         </div>
                      </a>
                   </div>
                </div>
                <div class="col-md-12 col-xs-12 last-child-30 text-center padding-without">
                   <div class="col-md-2 col-xs-4 padding-sm10 padding-left-without padding-right-3">
                      <a>
                         <div class="col-md-12 text-center ico-social ico-twitter"> <i class="fa fa-twitter font-18" aria-hidden="true"></i> </div>
                      </a>
                   </div>
                   <div class="col-md-2 col-xs-4 padding-sm10 padding-left-without padding-right-3">
                      <a>
                         <div class="col-md-12 text-center ico-social ico-google-plus"> <i class="fa fa-google-plus font-18" aria-hidden="true"></i> </div>
                      </a>
                   </div>
                   <div class="col-md-2 col-xs-4 padding-sm10 padding-left-without padding-right-3">
                      <a>
                         <div class="col-md-12 text-center ico-social ico-pinterest"> <i class="fa fa-pinterest font-18" aria-hidden="true"></i> </div>
                      </a>
                   </div>
                   <div class="col-md-2 col-xs-4 padding-sm10 padding-left-without padding-right-3">
                      <a>
                         <div class="col-md-12 text-center ico-social ico-envelope"> <i class="fa fa-envelope font-18" aria-hidden="true"></i> </div>
                      </a>
                   </div>
                   <div class="col-md-2 col-xs-4 padding-sm10 padding-left-without padding-right-3">
                      <a>
                         <div class="col-md-12 text-center ico-social ico-whatsapp"> <i class="fa fa-whatsapp font-18" aria-hidden="true"></i> </div>
                      </a>
                   </div>
                   <div class="col-md-2 col-xs-4 padding-sm10 padding-left-without padding-right-3">
                      <a>
                         <div class="col-md-12 text-center ico-social ico-telegram"> <i class="fa fa-telegram font-18" aria-hidden="true"></i> </div>
                      </a>
                   </div>
                </div>
             </div>
          </div>
       </div>
       <!-- Second column, site -->
       <div class="col-md-3 padding-sm20">
          <div class="col-md-12 last-child-15 title-high-18-white center-sm padding-without text-center">SITE</div>
          <div class="col-md-12 padding-without">
             <hr class="hr-footer">
          </div>
          <div class="col-md-12">
             <ul class="list-none footer-gray">
                <li><a href="#">Home</a></li>
                <li><a href="nuestra-empresa.html">Company</a></li>
                <li><a href="nuestros-servicios.html">Services</a></li>
                <li><a href="curriculum.html">Experience</a></li>
                <li><a href="cotice-su-valuacion-actuarial.html">Contact</a></li>
                <li><a href="noticias-exclusivas-de-pensiones-y-afores.html">Newspaper</a></li>
             </ul>
          </div>
       </div>
       <!-- Map of locations -->
       <div class="col-md-5">
          <div class="col-md-12 last-child-15 title-high-18-white padding-without center-sm text-center">
             <p class="margin-without">LOCATIONS</p>
          </div>
          <div class="col-md-12 padding-without">
             <hr class="hr-footer">
          </div>
          <div class="col-md-12">
             <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d214587.5999802222!2d-96.87162572507454!3d32.820586549097364!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x864c19f77b45974b%3A0xb9ec9ba4f647678f!2sDallas%2C+Texas%2C+EE.+UU.!5e0!3m2!1ses-419!2smx!4v1525802830189" width="100%" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
             <div class="col-md-12 footer-addresses padding-without padding-top-10">
                <span class="glyphicon glyphicon-map-marker font-20 gray-color" aria-hidden="true"></span> 
                <a class="gray-color" href="https://www.google.com/maps/place/Dallas,+Texas,+EE.+UU./@32.8205865,-96.8716257,11z/data=!3m1!4b1!4m12!1m6!3m5!1s0x0:0xe5206e3284e3b1c9!2sValuaciones+Actuariales+Del+Norte,+S.C.!8m2!3d25.455885!4d-100.98192!3m4!1s0x864c19f77b45974b:0xb9ec9ba4f647678f!8m2!3d32.7688005!4d-96.7895508?hl=es-419" target="_blank">
                   <p>{{ globals.location }}<br></p>
                </a>
             </div>
          </div>
       </div>
       <!-- Copyright -->

       <div class="col-md-12 text-center copyright padding-sm20">
          <div class="col-md-12 center-sm"><hr></div>
          <div class="col-md-12 center-sm">© 2018 <a href="#" class="white-color">{{ globals.nameTemplate }}</a> | Created &amp; Designed by 
            <a class="white-color" href="#">{{ globals.name }}</a></div>
       </div>
    </div>
 </div>
</footer>