<div class="container padding-without">
    <!-- First block, description and carousel-->
    <div class="col-md-12 text-center padding-without">
       <!-- Description and quote -->
       <div class="col-md-4">
          <div class="col-md-12 box-gray-light banner-price">
             <div class="col-md-12 padding-bottom-20">
                <p class="margin-without">
                   We are a global management consulting firm that serves a broad mix of private, public and social sector institutions.
                </p>
             </div>
             <div class="padding-bottom-20">
                <div class="btn-home">
                   <p class="margin-without">Quote your service</p>
                </div>
             </div>
             <div class="col-md-12">
                <div class="col-md-6 sub-mini">
                   <a [routerLink]="['/investment']">
                      <div class="col-md-12 mini-box-blue-border">
                         <img title="" src="assets/icons/home-7.png" alt=""> 
                         <p class="margin-without">Private Corporations</p>
                      </div>
                   </a>
                </div>
                <div class="col-md-6 sub-mini">
                   <a [routerLink]="['/government']">
                      <div class="col-md-12 mini-box-blue-border">
                         <img title="" src="assets/icons/home-8.png" alt=""> 
                         <p class="margin-without">Government Institutions</p>
                      </div>
                   </a>
                </div>
             </div>
          </div>
       </div>
       <!-- Carousel -->
       <app-carousel></app-carousel>
    </div>
    <!-- Second block, services of company -->
    <div class="col-md-12 text-center home-direct padding-without padding-top-30">
       <a href="pasivo-laboral.html">
          <div class="col-md-4 home-box-bg">
             <div class="col-md-12 box-gray-light home-boxes padding-top-10">
                <div><img src="assets/icons/home-1.png" alt="" title=""></div>
                <p class="home-boxes-title title-high">ACTUARIAL STUDIES</p>
                <hr>
                <p class="home-boxes-text"><strong>NIF D3 / IAS 19 / US GAAP</strong> Valuation of labor liabiities to comply with accounting requirements and newsletters.</p>
             </div>
          </div>
       </a>
       <a href="primas-optimas-de-liquidez.html">
          <div class="col-md-4 home-box-bg">
             <div class="col-md-12 box-gray-light home-boxes padding-top-10">
                <div> <img src="assets/icons/home-2.png" alt="" title=""> </div>
                <p class="home-boxes-title title-high">OPTIMUM PREMIUMS OF LIQUIDITY</p>
                <hr>
                <p class="home-boxes-text">We determine the mínimum premiums as a percentage of the active payroll.</p>
             </div>
          </div>
       </a>
       <a href="plan-de-pensiones-privado.html">
          <div class="col-md-4 home-box-bg">
             <div class="col-md-12 box-gray-light home-boxes padding-top-10">
                <div> <img src="assets/icons/home-3.png" alt="" title=""> </div>
                <p class="home-boxes-title title-high">PENSION PLANS</p>
                <hr>
                <p class="home-boxes-text">Comprehensive Solutions for the implementation of corporate pension systems.</p>
             </div>
          </div>
       </a>
       <a href="asesoria-en-inversiones.html">
          <div class="col-md-4 home-box-bg">
             <div class="col-md-12 box-gray-light home-boxes padding-top-10">
                <div> <img src="assets/icons/home-4.png" alt="" title=""> </div>
                <p class="home-boxes-title title-high">INVESTMENT CONSULTANCY</p>
                <hr>
                <p class="home-boxes-text">We analyze investments based on different kinds of assets.</p>
             </div>
          </div>
       </a>
       <a href="ley-de-disciplina-financiera.html">
          <div class="col-md-4 home-box-bg">
             <div class="col-md-12 box-gray-light home-boxes padding-top-10">
                <div> <img src="assets/icons/home-5.png" alt="" title=""> </div>
                <p class="home-boxes-title title-high">NIF D3: LABOR LIABILITIES</p>
                <hr>
                <p class="home-boxes-text">It is a Financial Information Norm of benefits given to formal and informal employees.</p>
             </div>
          </div>
       </a>
       <a href="valor-agregado.html">
          <div class="col-md-4 home-box-bg">
             <div class="col-md-12 box-gray-light home-boxes padding-top-10">
                <div> <img src="assets/icons/home-6.png" alt="" title=""> </div>
                <p class="home-boxes-title title-high">ADDED VALUE</p>
                <hr>
                <p class="home-boxes-text">To provide a comprehensive analysis of our customers' reality.</p>
             </div>
          </div>
       </a>
    </div>
 </div>